<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrmConnection" connectionString="Url=https://thomascookstaging.crm4.dynamics.com;Username=;Password=;authtype=Office365"/>
    <add name="TargetCrmConnection" connectionString="RequireNewInstance=True;Url=https://thomascookstaging.crm4.dynamics.com;Username=;Password=;authtype=Office365"/>
  </connectionStrings>
</configuration>