<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrmConnection" connectionString="Url=https://thomascookdev.crm4.dynamics.com;Username=;Password=;authtype=Office365"/>
    <add name="TargetCrmConnection" connectionString="RequireNewInstance=True;Url=https://thomascookpreprod.crm4.dynamics.com;Username=;Password=;authtype=Office365"/>
    <!--<add name="TargetCrmConnection" connectionString="RequireNewInstance=True;Url=https://thomascook.crm4.dynamics.com;Username=;Password=;authtype=Office365"/>-->
  </connectionStrings>
</configuration>